      <div class="slip-wrapper slip-wrapper--first">
        <div class="slip">
          <div class="slip__section">
            <div class="slip__section__header">
              <h1 class="slip__section__headline">Borrower &amp; more</h1>
            </div>
            <div class="slip__section__body">
              <p class="slot--patron-name">{{borrower}}</p>
              <p class="pick-up-location-and-due-date">{{pickupLocation}}<span class="conditional-display--due-date">· Due</span></p>
              <div class="request-barcode">
                <div class="barcode__bars" id="request-barcode--1234">{{{requestBarcode}}}</div>
                <div class="barcode__text">Request <span class="monospaced">{{requestId}}</span></div>
              </div>
            </div>
          </div>
          <div class="slip__section slip__section--this-loan">
            <div class="slip__section__header">
              <h1 class="slip__section__headline">This loan</h1>
            </div>
            <div class="slip__section__body">
              <h2 class="slot--item-title">{{title}}</h2>
              <p class="item-metadata">By: <span class="slot--item-author">{{author}}</span>. Volume: <span class="slot--item-volume">{{volume}}</span></p>
              <div class="spacer--m"></div>
              <section class="conditional-display--recall-policy">
                <h2>This item may be recalled</h2>
                <p>If this happens, we’ll send an email with a new due date.</p>
                <div class="spacer--m"></div>
              </section>
              <section class="conditional-display--contact-information">
                <h2>Questions about your loan?</h2>
                <p>Contact <span class="conditional-display--phone-number">{{phoneNumber}}</span><span class="conditional-display--phone-number conditional-display--email"> or </span><span class="conditional-display--email">{{emailAddress}}</span></p>
              </section>
              <div class="do-not-remove-badge">
                Do not remove<br />
                this slip.<br />
                Thank you!<br />
              </div>
            </div>
          </div>
          <div class="slip__section slip__section--staff-details">
            <div class="slip__section__header">
              <h1 class="slip__section__headline">Details for staff</h1>
            </div>
            <div class="slip__section__body">
              {{#if conditions}}
                <div class="conditions">
                  <div class="header">CONDITION APPLIES</div>
                  {{#each conditions}}
                    <div class="condition">{{this}}</div>
                  {{/each}}
                </div>
              {{/if}}
              <div class="slot--item-call-number">{{callNumber}}</div>
              <div class="slot--item-location">{{location}}</div>
              <div class="details-row">
                <div class="details-row__column details-row__column--first">
                  From {{fromSlug}}
                  {{#each fromSymbols}}
                    <br>{{this}}
                  {{/each}}
                </div>
                <div class="details-row__column details-row__column--second">
                  To {{toSlug}}
                  {{#each toSymbols}}
                    <br>{{this}}
                  {{/each}}
                </div>
              </div>
              <div class="details-row">
                <div class="details-row__column details-row__column--first">{{now}}</div>
                <div class="details-row__column details-row__column--second"><img src="{{logo}}" height="33" width="90" alt="PALCI logo" /></div>
              </div>
              {{#if itemId}}
              <div class="item-barcode conditional-display--item-barcode">
                <div class="barcode__bars" id="item-barcode--5678">{{{itemBarcode}}}</div>
                <div class="barcode__text">{{fromSlug}} item <span class="monospaced">{{itemId}}</span></div>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
